__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/

# Visual Studio Code
.vscode/*
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Dev Notebooks
Dev.ipynb 

# pdfs
*.pdf

build
dist